@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


  .wrapper {
    display: flex;
    flex-direction: column;
    flex:1;
    /* padding: 20px;  */
  }


  body, html {
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
  }

  :root {
  --body-font-size-percentage: 100%;
  }

  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 2.5em;
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  label {
    display: block;
    margin-bottom: 0.3125em;
  }

  header div a {
    margin-right: 1em;
  }

  .checkbox {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.9375em;
  }

  .checkbox label {
    font-size: 0.875em;
    margin-left: 0.375em;
  }

  .my-checkbox {
    width: 1em;
  } 

  a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
  }

  a:hover {
    background-color: #464242;
  }

  select {
    width: 150px;
    padding: 0.4em;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5em; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    appearance: none; 
    cursor: pointer;
    text-align: center; 
  }

  select:hover {
    background-color: #f9f9f9; 
    border-color: #888;
  }

  select:focus {
    outline: none;
    border-color: #555; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
